name: DailyBuild
on:
  schedule:
    # Triggers at 06:30 UTC everyday
    - cron: "30 6 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compile
        run: |
          cd scraper
          cargo build
      - name: Scrape
        run: |
          cd scraper
          target/debug/scraper
      - name: NPM install
        run: |
          cd frontend
          npm install
      - name: Build
        run: |
          cd frontend
          npm run build
      - name: Deploy
        run: |
          git config --global user.name "GithubAction"
          git config --global user.email "username@users.noreply.github.com"
          git checkout -b gh-pages
          cp -r frontend/dist/* .
          cp scraper/movies.json assets/
          rm -rf frontend
          rm -rf scraper
          rm -rf .github
          cp index.html 404.html
          echo "cine-paris.deod.at" > CNAME
          git add .
          git commit -m "Daily deployment"
          git push  --force origin gh-pages
